---
title: Project Framework
---

#welcome
  - item = item_by_identifier('/welcome/')
  != partial(item)

#flickr
  %h2 Latest Pictures on Flickr
  %img(src="assets/images/flickr.png")

#ask
  %iframe{:src => "http://spreadsheets.google.com/embeddedform?formkey=dGFjc3lLTENCWE8zc00wSlhQa2I3R3c6MQ", :width => "300px", :height => "420px", :frameborder => "0", :marginheight => "0", :marginwidth => "0"} Loading...

#features
  %h2 Features We're Building
  - items_with_tag("features").each do |item|
    = render('_excerpt', :item => item) 

#tools
  %h2 Tools We Use
  - items_with_tag("tools").each do |item|
    = render('_excerpt', :item => item)

#teachers
  %h2 Who's Involved
  = render_images('static/assets/images/people')

-# 
  tags = count_tags()

-#
  %ul#tags
    - tags.sort_by{|k,v| k}.each do |tag_count|
      - tag = tag_count[0]
      - count = tag_count[1]
      %li
        %a(href="/tags/#{tag}/" class='tag')= tag
        = "(#{count})"

  %h1 Chronological

  - oldest_item = nil
  - current_index = 0

  -#= sorted_articles[current_index, featured_count].each do |item|
    - oldest_item = item
    - current_index += 1
    .featured
      = render('_article', :item => item, :is_embedded => true)

  - sorted_articles[current_index, excerpt_count].each do |item|
    - oldest_item = item
    = render('_excerpt', :item => item) 
                
  -#= render('_other_articles_nav', :reference_item => oldest_item, :older_only => true)

  -#.clear

  -#= #taglist
    - tags = count_tags()
    - tags.each.sort_by {|k,v| k}.each do |tag_count|
      - tag = tag_count[0]
      %a(href="/tags/#{tag}/" class='tag')= tag
