---
---

- is_embedded ||= false
.article
  %h1 
    - if is_embedded
      %a(href="#{route_path(item)}" title="Full article" class="permalink")= item[:title]
    - else
      = item[:title]
  
  = render('_meta', :item => item)

  .body
    != content || partial(item)
    
    - if @item[:flickr_set]
      - setid = @item[:flickr_set]
      %iframe{:align => "center", :src => "http://www.flickr.com/slideShow/index.gne?group_id=&user_id=26097071@N05&set_id=#{setid}&text=", :frameBorder=>"0", :width=>"800", :height=>"500", :scrolling=>"no"}
      
      